{
  elk_version: 6.1.2,
  curator_version: 4.0.4,
  config_directory: /usr/share/docker-elk,
  nginx_version: latest,
  docker: {
    version: docker-ce-17.12.0.ce-1.el7.centos.x86_64,
    network: elk_network,
    restart_policy: on-failure,
    restart_retries: 3,
    containers_dir: /var/lib/docker/containers/
  },
  mysql: {
    network: sql_network
  }
}
