- name: Copy filebeat.yml
  copy:
    src: filebeat.yml
    dest: "{{ elk_vars['config_directory'] }}-{{ elk_vars['elk_version'] }}"/filebeat.yml
    owner: root
    group: root
    mode: 0755
    backup: yes
    force: yes
  notify:
    - notify: restart filebeat


- name: Deploy Filebeat container
  docker_container:
    name: filebeat
    image: docker.elastic.co/beats/filebeat:{{ elk_vars['elk_version'] }}
    state: started
    user: root
    networks:
      - name: "{{ elk_vars['docker']['network'] }}"

    log_driver: json-file
    volumes:
     - "{{ elk_vars['config_directory'] }}-{{ elk_vars['elk_version'] }}/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro"
     - "{{ elk_vars['docker']['containers_dir'] }}:/hostfs/var/lib/docker/containers/:ro"
    restart_policy: "{{ elk_vars['docker']['restart_policy'] }}"
    restart_retries: "{{ elk_vars['docker']['restart_retries'] }}"
